{% comment %} top Header {% endcomment %}
{% style %}
  .main-header{ padding: 12px;}
  .main-header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .main-header .container ul{
    padding:0px;
    margin:0px;
    display: flex;
    gap: 25px;
    align-items: center;
  }
  .main-header .container ul li{ list-style:none;}
  .main-header .container ul li{ list-style:none;}
  .main-header .container .top-header-el__widgets img,
  .main-header .container .top-header-el__widgets svg
  {
    width:24px;
    height:24px;
  }
  .main-header .container .top-header-el__widgets ul li a {
    display:flex;
    gap:8px;
    align-items:center;
  }
  .main-header .container .top-header-el__widgets ul li a span{
    color: #050505;
    font-family: Karla;
    font-size: clamp(12px,5vw,16px);
    font-style: normal;
    font-weight: 400;
    /* line-height: 24px; /* 150% */ */
  }
{% endstyle %}
<div class="main-header">
  <div class="top-header-el container">
    <div class="top-header-el__main-logo">
      <img width="168" height="48" src="//bighandsbuildingsupply.myshopify.com/cdn/shop/files/Main_Logo_180x@2x.png?v=1752558905" alt="Bighands Building Supply">
    </div>
    <div class="top-header-el__widgets">
      <ul>
        <li>
          <a href="#" id="search-from-toggle">
            <img  width="168" height="48" src="https://cdn.shopify.com/s/files/1/0859/1186/3592/files/search.svg?v=1752560359" alt="search" >
            <span class="label">Search</span>
          </a>
          <div style="display:none;" id="search-form-container">
          {% render 'search-form' %}
          </div>
        </li>
         <li>
          <a href="#">
            <img  width="168" height="48" src="https://cdn.shopify.com/s/files/1/0859/1186/3592/files/favorite.svg?v=1752582075" alt="search" >
            <span class="label">Wish List</span>
          </a>
         </li>
         <li>
          <a href="#">
            <img  width="168" height="48" src="https://cdn.shopify.com/s/files/1/0859/1186/3592/files/shopping_cart.svg?v=1752582144" alt="search" >
            <span class="label">Cart</span>
            <div class="mini-cart style-01 {{load_class}} {{drop_class}}" {{onclick}}>
  <a href="{{routes.cart_url}}" class="icon-link text-nowrap">
    <div class="icon-count kt-button">
      {%-render 'icon-cart', pos: 'header'-%}
      <span class="count cartCount">{{ cart.item_count }}</span>
    </div>
    <span class="total title cartCost" data-price="{{ cart.total_price }}">{{ cart.total_price | default: 0 | money }}</span>
    <span>{{'cart.general.title'|t}}</span>
  </a>
{%-if settings.type_ajax_cart == 'drop'-%}{{contentDrop}}{%-endif-%}
</div>
          </a>
         </li>
         <li>
          <a href="#">
            <img  width="168" height="48" src="https://cdn.shopify.com/s/files/1/0859/1186/3592/files/account_circle.svg?v=1752582145" alt="search" >
            <span class="label">Login</span>
          </a>
         </li>
      </ul>
    </div>
  </div>
</div>
{% javascript %}
  let searchFormElement = document.getElementById("search-from-toggle");
  let searchFormContainer = document.getElementById("search-form-container");
  searchFormElement.addEventListener('click',function(){
    searchFormContainer.style.display = "unset";
    searchFormElement.style.display = "none"
  })
  
{% endjavascript %}