<style>
    .mb-header{
    display:none; }
 @media (max-width:768px){
        .mb-header{
    display:block; }
 .main-mobile-header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding:10px 5px;
  }
  .hamburger-menu img{
  width:25px;
  height:25px;
  }
  .drawer{
    position: fixed;
    z-index: 999;
    background: #FFF;
    width: 100%;
    top: 0;
    bottom: 0;
}
}
.mobile-main-header .menu-items-main{
    padding:0px;
}
.mobile-main-header .menu-items-main li{
list-style: none;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #3C4043;
    display: flex
;
    justify-content: space-between;
    align-items: center;
}
</style>
<section class="mb-header">
<div class="main-mobile-header">
  <div class="mobile-logo">
    <a href="/">
      <img
        width="168"
        height="48"
        src="//bighandsbuildingsupply.myshopify.com/cdn/shop/files/Main_Logo_180x@2x.png?v=1752558905"
        alt="Bighands Building Supply"
      >
    </a>
  </div>
  <div class="hamburger-menu">
    <img src="https://cdn.shopify.com/s/files/1/0936/3328/2419/files/hamburger-menu-mobile-svgrepo-com.svg?v=1754875384">
  </div>
</div>
<div class="drawer">
  <div class="main-mobile-header drawer-container">
    <div class="mobile-logo">
      <a href="/">
        <img
          width="168"
          height="48"
          src="//bighandsbuildingsupply.myshopify.com/cdn/shop/files/Main_Logo_180x@2x.png?v=1752558905"
          alt="Bighands Building Supply"
        >
      </a>
    </div>
    <div class="hamburger-menu">
      <img src="https://cdn.shopify.com/s/files/1/0936/3328/2419/files/hamburger-menu-mobile-svgrepo-com.svg?v=1754875384">
    </div>
  </div>
  {{ 'submenu.css' | asset_url | stylesheet_tag }}
{{ 'nav-menu.css' | asset_url | stylesheet_tag }}
<div class="header-bottom d-lg-block mobile-nav-menu">
  <div class="container">
    <div class="mobile-main-header header-menu horizon-menu">
      <nav class="main-navigation">
        <ul class="menu-items-main">
          {% for block in section.blocks %}
            {%-case block.type-%}
              {%-when 'standard_nav_item'-%}
                <li><a href="{{ block.settings.item_url }}">{{ block.settings.item_label }}</a></li>
              {% when 'with_submenu_item' %}
                <li class="has-sub " child-menu-id="{{ block.id }}"><a href="{{ block.settings.item_url }}">{{ block.settings.item_label }}</a></li>
            {% endcase %}
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</div>
</div>
</section>
