{% comment %}
{% endcomment %}
{{ 'submenu.css' | asset_url | stylesheet_tag }}
{{ 'nav-menu.css' | asset_url | stylesheet_tag }}
<div class="header-bottom d-lg-block nav-menu">
  <div class="container">
    <div class="main-header header-menu horizon-menu">
      <nav class="main-navigation">
        <ul class="menu-items-main">
          {% for block in section.blocks %}
            {%-case block.type-%}
              {%-when 'standard_nav_item'-%}
                <li><a href="{{ block.settings.item_url }}">{{ block.settings.item_label }}</a></li>
              {% when 'with_submenu_item' %}
                <li class="has-sub " child-menu-id="{{ block.id }}"><a href="{{ block.settings.item_url }}">{{ block.settings.item_label }}</a></li>
            {% endcase %}
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</div>
<div class="header-announcement-section">
  <div class="container">
    <p>Get up to 20% OFF on your first order – Limited Time Only!</p>
  </div>
</div>
{% for block in section.blocks %}
  {% if block.type == 'with_submenu_item' %}
      {% render 'submenu', block: block %}
  {% elsif block.type == 'parent_menu' %}
     <div class="" style="display:none;" >
            <li 
            class="submenu-items-name  {% if block.settings.submenu != blank %}submenu-with-children{% endif %}"  
            parent-menu-id="{{ block.settings.parent_menu_id }}"
            submenu-order="1"
            target-id="{{ block.settings.submenu }}"
            submenu-items="{{ block.settings.submenu }}"
            block-id="{{ block.id }}"
            menu-subitem-id=""
              >
              <a href="{{ block.settings.parent_menu_item_url}}">{{ block.settings.parent_menu_label }}</a>
            </li>
         {% render 'submenu-item-with-parent', block:block %}
      </div>
  {% endif %}
{% endfor %}

{% comment %}
<script>
  let subItem = `
  <div class="extra-columns col-12 col-md-3 item item__1">
    <div class="item__1__group">
    <div class="submenu__heading"><h3 class="heading__1">{{ block.settings.item_label }}</h3></div>
       <ul class="lvl-1">
        <li class="submenu-items-name"  parent-menu-id="{{ block.settings.parent_menu_id }}"><a href="#">{{ block.settings.parent_menu_label }}</a></li>
       </ul>
    </div>
  </div>
  `;
</script>
{% endcomment %}

  
  

