{% comment %}
{% endcomment %}
{{ 'submenu.css' | asset_url | stylesheet_tag }}
<div class="header-bottom d-lg-block nav-menu">
  <div class="container">
    <div class="main-header header-menu horizon-menu">
      <nav class="main-navigation">
        <ul class="menu-items-main">
          {% for block in section.blocks %}
            {%-case block.type-%}
              {%-when 'standard_nav_item'-%}
                <li><a href="{{ block.settings.item_url }}">{{ block.settings.item_label }}</a></li>
              {% when 'with_submenu_item' %}
                <li class="has-sub " child-menu-id="{{ block.id }}"><a href="{{ block.settings.item_url }}">{{ block.settings.item_label }}</a></li>
            {% endcase %}
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</div>
{% for block in section.blocks %}
  {{ block.type }}
  {% if block.type == 'with_submenu_item' or block.type == 'parent_menu' %}
      {% render 'submenu', block: block, section: section %}
  {% endif %}
{% endfor %}
