{% comment %}
{% endcomment %}
{{ 'submenu.css' | asset_url | stylesheet_tag }}
<div class="header-bottom d-lg-block nav-menu">
  <div class="container">
    <div class="main-header header-menu horizon-menu">
      <nav class="main-navigation">
        <ul class="menu-items-main">
          {% for block in section.blocks %}
            {%-case block.type-%}
              {%-when 'standard_nav_item'-%}
                <li><a href="{{ block.settings.item_url }}">{{ block.settings.item_label }}</a></li>
              {% when 'with_submenu_item' %}
                <li class="has-sub " child-menu-id="{{ block.id }}"><a href="{{ block.settings.item_url }}">{{ block.settings.item_label }}</a></li>
            {% endcase %}
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</div>
{% for block in section.blocks %}
  {% if block.type == 'with_submenu_item' or block.type == 'parent_menu' %}
      {% if block.type == 'parent_menu' %}
            <li 
            class="submenu-items-name sub-item-with-parent"  
            parent-menu-id="{{ block.settings.parent_menu_id }}"
            submenu-order="1"
            target-id="{{ block.settings.submenu }}"
            submenu-items="{{ block.settings.submenu }}"
            block-id="{{ block.id }}">
              <a href="#">{{ block.settings.parent_menu_label }}</a>
            </li>
      {% endif %}
     
      {% render 'submenu', block: block,submenu_items:submenu_items %}
  {% endif %}
{% endfor %}

{% comment %}
<script>
  let subItem = `
  <div class="extra-columns col-12 col-md-3 item item__1">
    <div class="item__1__group">
    <div class="submenu__heading"><h3 class="heading__1">{{ block.settings.item_label }}</h3></div>
       <ul class="lvl-1">
        <li class="submenu-items-name"  parent-menu-id="{{ block.settings.parent_menu_id }}"><a href="#">{{ block.settings.parent_menu_label }}</a></li>
       </ul>
    </div>
  </div>
  `;
</script>
{% endcomment %}

  
  

