<div class="header-bottom d-lg-block nav-menu">
  <div class="container">
    <div class="main-header header-menu horizon-menu">
      <nav class="main-navigation">
        <ul class="menu-items-main">
          {% for block in section.blocks %}
            {% if block.type == 'standard_nav_item' %}
              <li>
                <a href="#">{{ block.settings.standard_item_label }}</a>
              </li>
            {% elsif block.type == 'submenu_nav_item' %}
              <li class="has-sub" child-menu-id="submenu-{{ forloop.index }}">
                <a href="#">{{ block.settings.submenu_label }}</a>
                <ul class="submenu">
                  {% for i in (1..5) %}
                    {% assign label = block.settings["submenu_item_" | append: i | append: "_label"] %}
                    {% assign link = block.settings["submenu_item_" | append: i | append: "_link"] %}
                    {% if label != blank %}
                      <li><a href="{{ link }}">{{ label }}</a></li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</div>
