{% comment %}
{% endcomment %}
{{ 'submenu.css' | asset_url | stylesheet_tag }}
<div class="header-bottom d-lg-block nav-menu">
  <div class="container">
    <div class="main-header header-menu horizon-menu">
      <nav class="main-navigation">
        <ul class="menu-items-main">
          {% for block in section.blocks %}
            {%-case block.type-%}
              {%-when 'standard_nav_item'-%}
                <li><a href="{{ block.settings.item_url }}">{{ block.settings.item_label }}</a></li>
              {% when 'with_submenu_item' %}
                <li class="has-sub " child-menu-id="{{ block.id }}"><a href="{{ block.settings.item_url }}">{{ block.settings.item_label }}</a></li>
            {% endcase %}
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</div>
{% for block in section.blocks %}
  {% if block.type == 'with_submenu_item' or block.type == 'parent_menu' %}
      {% if block.type == 'parent_menu' %}
            {% assign menu_index = (1..15) %}
                {% for i in menu_index %}
                    {% assign label_key = "item-" | append: i | append: "-label" %}
                    {% assign url_key = "item-" | append: i | append: "-url" %}
                    {% assign menu_key = "menu-item-" | append: i %}
                    {% assign additional_label = "item-" | append: i | append: "-additional-label" %}
                  
                    {% assign label = block.settings[label_key] %}
                    {% assign url = block.settings[url_key] %}
                    {% assign menu = block.settings[menu_key] %}
                    {% assign additional_label = block.settings[additional_label] %}
                  {% if label != blank %}
                    <li class="submenu-items-name {% if menu != blank %}submenu-with-children{% endif %}"
                     parent-menu-id="{{ block.settings.parent_menu_id }}"
                      submenu-order="1"
                     target-id="{{ label }}"
                     submenu-items="{{ menu }}"
                     menu-id="{{ i }}"
                     block-id="{{ block.id }}">
                     <a href="{% if menu != blank %}#{% else %}{{url }}{% endif %}">
                      {{ label }}
                    </a>
                     
                    </li>
                  {% endif %}
                {% endfor %}
      {% endif %}
     
      {% render 'submenu', block: block,submenu_items:submenu_items %}
  {% endif %}
{% endfor %}

{% comment %}
<script>
  let subItem = `
  <div class="extra-columns col-12 col-md-3 item item__1">
    <div class="item__1__group">
    <div class="submenu__heading"><h3 class="heading__1">{{ block.settings.item_label }}</h3></div>
       <ul class="lvl-1">
        <li class="submenu-items-name"  parent-menu-id="{{ block.settings.parent_menu_id }}"><a href="#">{{ block.settings.parent_menu_label }}</a></li>
       </ul>
    </div>
  </div>
  `;
</script>
{% endcomment %}

  
  

