{% style %}
  .submenu__items,
  .submenu-subitems {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .submenu__items > li,
  .submenu-subitems > li {
    /* position: relative; */
  }

  .submenu-subitems,
  .style-2,
  .submenu-subitems-inner {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background: white;
    padding: 1rem;
    min-width: 220px;
    z-index: 10;
  }

  .submenu__items > li:hover > .style-2,
  .style-2 .submenu__items > li:hover > .submenu-subitems {
    display: block;
  }

  .submenu-subitems-inner {
    left: 100%;
    top: 0;
  }

  /* Add transition for smoothness */
  .style-2,
  .submenu-subitems,
  .submenu-subitems-inner {
    transition: opacity 0.2s ease, visibility 0.2s ease;
  }
{% endstyle %}
<submenu>
  <div class="submenu submenu-container container {{ block.id }}" id="{{ block.id }}">
    <div class="row">
      <div class="col-12 col-md-3 item item__1 w-300px">
        <div class="item__1__group">
          <div class="submenu__heading heading__1">
            <h3>OUR PRODUCTS</h3>
          </div>

          {%- assign main_menu = linklists[block.settings.menu-item-1] -%}
          <ul class="submenu__items">
            {% for top_link in main_menu.links %}
              <li class="has-second-level">
                <a href="{{ top_link.url }}">{{ top_link.title }}</a>

                {% if top_link.links != blank %}
                  <div class="style-2 level-2 w-300px">
                    <div class="submenu__heading">
                      <h3>{{ top_link.title }}</h3>
                      {% comment %}
                      <a href="{{ top_link.url }}"><span class="see-all-link">See All</span></a>
                      {% endcomment %}
                    </div>

                    <ul class="submenu__items item">
                      {% for child_link in top_link.links %}
                        <li class="has-third-level">
                          <a href="{{ child_link.url }}">{{ child_link.title }}</a>

                          {% if child_link.links != blank %}
                            <ul class="submenu-subitems-inner item level-3 w-300px">
                              <div class="submenu__heading">
                                <h3>{{ child_link.title }}</h3>
                                {% comment %}
                                <a href="{{ child_link.url }}"><span class="see-all-link">See All</span></a>
                                {% endcomment %}
                              </div>
                              {% for subchild_link in child_link.links %}
                                <li class="has-third-level menu-item-last-child"><a href="{{ subchild_link.url }}">{{ subchild_link.title }}</a></li>
                              {% endfor %}
                            </ul>
                          {% endif %}
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>

        <ul class="submenu__items links-with-icon">
          <li><a href="#"><span class="__icon"><img src="..." /></span><span class="__label">Special Offers</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</submenu>

  
<script>
  document.querySelectorAll('.has-second-level').forEach(item => {
    let timer;

    item.addEventListener('mouseenter', () => {
      clearTimeout(timer);
      const submenu = item.querySelector('.style-2');
      submenu && (submenu.style.display = 'block');
    });

    item.addEventListener('mouseleave', () => {
      const submenu = item.querySelector('.style-2');
      timer = setTimeout(() => {
        submenu && (submenu.style.display = 'none');
      }, 300); // delay in ms
    });
  });

  document.querySelectorAll('.has-third-level').forEach(item => {
    let timer;

    item.addEventListener('mouseenter', () => {
      clearTimeout(timer);
      const submenu = item.querySelector('.submenu-subitems-inner');
      submenu && (submenu.style.display = 'block');
    });

    item.addEventListener('mouseleave', () => {
      const submenu = item.querySelector('.submenu-subitems-inner');
      timer = setTimeout(() => {
        submenu && (submenu.style.display = 'none');
      }, 300);
    });
  });
</script>


