{% style %}
  .submenu__items,
  .submenu-subitems {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .submenu__items > li {
    /* position: relative; */
  }

  /* Hide submenus by default */
  .submenu-subitems {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background: white;
    padding: 1rem;
    min-width: 200px;
    z-index: 100;
  }

  /* Level 2 appears on hover of level 1 */
  .submenu__items > li:hover > .submenu-subitems {
    display: block;
  }

  /* Level 3 appears on hover of level 2 */
  .submenu-subitems > li {
    position: relative;
  }

  .submenu-subitems > li:hover > .submenu-subitems {
    display: block;
    left: 100%;
    top: 0;
  }

  .submenu .item {
    position: relative;
  }

  /* Dynamic column for 2nd level */
  .submenu .hover-column {
    display: none;
  }

  .submenu__items > li:hover ~ .hover-column {
    display: block;
  }

  .submenu .submenu__heading h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .submenu .style-2 {
    background: #fff;
    padding: 1rem;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 10;
    min-width: 220px;
    /* display: none; */
  }

  /* Show .style-2 (2nd column) when parent hovered */
  .submenu__items > li:hover .style-2 {
    display: block;
  }

  /* Nested style-2 submenu inside .style-2 */
  .style-2 .submenu__items > li:hover > .submenu-subitems {
    display: block;
    left: 100%;
    top: 0;
  }
{% endstyle %}

<submenu>
  <div class="submenu submenu-container container {{ block.id }}" id="{{ block.id }}">
    <div class="row">
      <!-- Main column -->
      <div class="col-12 col-md-3 item item__1">
        <div class="item__1__group">
          <div class="submenu__heading">
            <h3>OUR PRODUCTS</h3>
          </div>

          {%- assign main_menu = linklists[block.settings.menu-item-1] -%}

          <ul class="submenu__items">
            {% for top_link in main_menu.links %}
              <li>
                <a href="{{ top_link.url }}">{{ top_link.title }}</a>

                {% if top_link.links != blank %}
                  <!-- 2nd level submenu -->
                  <div class="style-2">
                    <div class="submenu__heading">
                      <h3>{{ top_link.title }}</h3>
                      <a href="{{ top_link.url }}"><span class="see-all-link">See All</span></a>
                    </div>
                    <ul class="submenu__items">
                      {% for child_link in top_link.links %}
                        <li>
                          <a href="{{ child_link.url }}">{{ child_link.title }}</a>

                          {% if child_link.links != blank %}
                            <!-- 3rd level submenu -->
                            <ul class="submenu-subitems">
                              {% for subchild_link in child_link.links %}
                                <li><a href="{{ subchild_link.url }}">{{ subchild_link.title }}</a></li>
                              {% endfor %}
                            </ul>
                          {% endif %}
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>

        <!-- Optional: Icon links -->
        <ul class="submenu__items links-with-icon">
          <li><a href="#"><span class="__icon"><img src="..." /></span><span class="__label">Special Offers</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</submenu>
