<submenu>
<div class="submenu submenu-container container {{ block.id }}" id="{{ block.id }}">
    <div class="row">
        <div class="col-12 col-md-3 item item__1">
            <div class="item__1__group">
              <div class="submenu__heading">
                  <h3>OUR PRODUCTS</h3>
              </div>
              <ul class="submenu__items">
                {% for link in linklists[block.settings.menu-item-1].links %}
                  <li>
                    <a href="{{ link.url }}">{{ link.title }}</a>
              
                    {% if link.links != blank %}
                      <ul>
                        {% for child_link in link.links %}
                          <li>
                            <a href="{{ child_link.url }}">{{ child_link.title }}</a>
              
                            {% if child_link.links != blank %}
                              <ul>
                                {% for grandchild_link in child_link.links %}
                                  <li>
                                    <a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                                    {# you can keep nesting deeper if needed, but Shopify menus are usually 3 levels max #}
                                  </li>
                                {% endfor %}
                              </ul>
                            {% endif %}
              
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
            <ul class="submenu__items links-with-icon">
              <li><a href="#"><span class="__icon"><img src="https://cdn.shopify.com/s/files/1/0859/1186/3592/files/sell.svg?v=1752660278" alt="icon"></span><span class="__label">Special Offers</span></a></li>
              <li><a href="#"><span class="__icon"><img src="https://cdn.shopify.com/s/files/1/0859/1186/3592/files/sell.svg?v=1752660278" alt="icon"></span><span class="__label">Special Offers</span></a></li>
              <li><a href="#"><span class="__icon"><img src="https://cdn.shopify.com/s/files/1/0859/1186/3592/files/sell.svg?v=1752660278" alt="icon"></span><span class="__label">Special Offers</span></a></li>
            </ul>
        </div>

    </div>
</div>
</submenu>
