{% style %}
  .submenu__items ul {
    display: none;
  }
  .submenu__items li:hover > ul {
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 10;
    background: white;
    padding: 1rem;
    min-width: 200px;
  }

  .submenu-container .style-2 {
    position: relative;
  }

  .submenu .submenu__items {
    list-style: none;
    padding: 0;
  }

  .submenu .submenu__items li {
    position: relative;
  }
{% endstyle %}

<submenu>
  <div class="submenu submenu-container container {{ block.id }}" id="{{ block.id }}">
    <div class="row">
      <!-- Static Column 1 -->
      <div class="col-12 col-md-3 item item__1">
        <div class="item__1__group">
          <div class="submenu__heading">
            <h3>OUR PRODUCTS</h3>
          </div>

          {%- assign main_menu = linklists[block.settings.menu-item-1] -%}

          <ul class="submenu__items">
            {% for top_link in main_menu.links %}
              <li class="{% if top_link.links != blank %}has-children{% endif %}">
                <a href="{{ top_link.url }}">{{ top_link.title }}</a>
                {% if top_link.links != blank %}
                  <ul class="submenu-subitems">
                    {% for child_link in top_link.links %}
                      <li>
                        <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                        {% if child_link.links != blank %}
                          <ul class="submenu-subitems">
                            {% for subchild_link in child_link.links %}
                              <li><a href="{{ subchild_link.url }}">{{ subchild_link.title }}</a></li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>

        <!-- Optional bottom icons -->
        <ul class="submenu__items links-with-icon">
          <li><a href="#"><span class="__icon"><img src="..." alt="icon" /></span><span class="__label">Special Offers</span></a></li>
          <li><a href="#"><span class="__icon"><img src="..." alt="icon" /></span><span class="__label">New Products</span></a></li>
        </ul>
      </div>

      <!-- Dynamic Columns (Start at 2nd Column) -->
      {% assign counter = 2 %}
      {% for top_link in main_menu.links %}
        {% if top_link.links != blank %}
          <div class="col-12 col-md-3 item item__{{ counter }} style-2">
            <div class="submenu__heading">
              <h3>{{ top_link.title }}</h3>
              <a href="{{ top_link.url }}"><span class="see-all-link">See All</span></a>
            </div>
            <ul class="submenu__items">
              {% for child_link in top_link.links %}
                <li>
                  <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
          {% assign counter = counter | plus: 1 %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</submenu>
