<script>
  window.menuData = window.menuData || {};
  {% for block in section.blocks %}
    {% if block.type == 'parent_menu' %}
      window.menuData["{{ block.id }}"] = window.menuData["{{ block.id }}"] || {};
      window.menuData["{{ block.id }}"]["{{ block.settings.submenu }}"] = {
        title: "{{ block.settings.parent_menu_label | escape }}",
        items: [
          {% assign main_menu = linklists[block.settings.submenu] %}
          {% for top_link in main_menu.links %}
            {
              title: "{{ top_link.title | escape }}",
              url: "{{ top_link.url }}",
              children: [
                {% for child_link in top_link.links %}
                  {
                    title: "{{ child_link.title | escape }}",
                    url: "{{ child_link.url }}",
                    children: [
                      {% for subchild_link in child_link.links %}
                        {
                          title: "{{ subchild_link.title | escape }}",
                          url: "{{ subchild_link.url }}"
                        }{% unless forloop.last %},{% endunless %}
                      {% endfor %}
                    ]
                  }{% unless forloop.last %},{% endunless %}
                {% endfor %}
              ]
            }{% unless forloop.last %},{% endunless %}
          {% endfor %}
        ]
      };
    {% endif %}
  {% endfor %}
</script>
{% javascript %}
  document.addEventListener('DOMContentLoaded', () => {
    const allSubMenus = window.menuData;
    Object.entries(allMenus).forEach(([blockId, menus]) => {
      function renderSubmenu(menu) {
        let html = `
        <div class="col-12 col-md-3 item item__2 w-300px level-2 lvl-2" menu-name="${menu.title}-${blockId}" submenu-order="2">
          <div class="item__1__group">
            <div class="submenu__heading heading__1">
              <h3 class="uppercase">${menu.title}</h3>
            </div>
            <ul class="submenu__items level-2 submenu-inner">
      `;

        menu.items.forEach((top) => {
          let additionalClass1 = top.children?.length ? 'submenu-with-children' : '';
          html += `
          <li class="${additionalClass1}" submenu-order="2">
            <a href="${top.url}">${top.title}</a>
        `;

          if (top.children?.length) {
            html += `
            <div class="submenu-items-container style-2 w-300px lvl-3" submenu-order="3">
              <div class="submenu__heading"><h3>${top.title}</h3></div>
              <ul class="submenu__items item">
          `;

            top.children.forEach((child) => {
              let additionalClass = child.children?.length ? 'submenu-with-children' : '';
              html += `<li submenu-order="3" class="has-third-level ${additionalClass}"><a href="${child.url}">${child.title}</a>`;

              if (child.children?.length) {
                html += `
                <ul class="style-2 w-300px submenu-items-container lvl-4" submenu-order="4">
                  <div class="submenu__heading"><h3>${child.title}</h3></div>
              `;
                child.children.forEach((sub) => {
                  html += `<li submenu-order="4" class="menu-item-last-child"><a href="${sub.url}">${sub.title}</a></li>`;
                });
                html += `</ul>`;
              }

              html += `</li>`;
            });

            html += `</ul></div>`;
          }

          html += `</li>`;
        });

        html += `</ul></div></div>`;
        return html;
      }
      let renderedHTML = '';
      Object.values(menus).forEach((menu) => {
        renderedHTML += renderSubmenu(menu);
      });
    });
  });
{% endjavascript %}
