<div class="w-100 item_who_we_are" data-block="item_who_we_are">
  <div class="content_1566459607551" data-respon="{'el':'.content_1566459607551','mt':'5rem','mb':'','p':'5rem 0'}">
    <div class="section-width container">
      <div class="row">
        <div class="col-lg-5">
          {% if section.settings.heading != blank %}
            <h2 class="title">{{ section.settings.heading }}</h2>
          {% endif %}

          {% if section.settings.subheading != blank %}
            <p class="lead text-primary mb-3">{{ section.settings.subheading }}</p>
          {% endif %}

          {% if section.settings.description != blank %}
            <p class="mb-2">{{ section.settings.description }}</p>
          {% endif %}

          {% if section.settings.button_label != blank %}
            <a href="{{ section.settings.button_link }}" class="btn btn-sm btn-minwidth btn-outline-primary-2">
              <span>{{ section.settings.button_label }}</span><i class="fkt-long-arrow-right"></i>
            </a>
          {% endif %}
        </div>

        <div class="col-lg-6 offset-lg-1">
          {% if section.settings.image != blank %}
            <div class="about-images">
              <div class="">
                <img src="{{ section.settings.image | image_url: width: 800 }}" alt="{{ section.settings.image.alt | escape }}">
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "About Section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Who We Are"
    },
    {
      "type": "textarea",
      "id": "subheading",
      "label": "Subheading",
      "default": "Pellentesque odio nisi, euismod pharetra a ultricies in diam. Sed arcu. Cras consequat"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Suspendisse potenti."
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "VIEW OUR NEWS"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link",
    
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "About Section"
    }
  ]
}
{% endschema %}
