{% comment %}
  custom-footer.liquid
{% endcomment %}

<style>
  .custom-footer-section{
    padding:90px 0px;
    border-top: 1px solid rgba(197, 197, 197, 0.50);
  }
  .custom-footer .row .item{
    padding-left:20px;
    padding-right:20px;
  }
  .custom-footer .row .item h3{
    margin-bottom:2rem;
    color: #050505;
    font-family: Karla;
    font-size: clamp(18px,5vw,24px);
    font-style: normal;
    font-weight: 600;   
  }
  .custom-footer .row .item ul{
    padding:0px;
  }
  
  .custom-footer .row .item ul li{
    list-style: none;
    padding-top:5px;
  }
  .custom-footer .row .item .links-with-icon a{
    display: flex;
    align-items: flex-start;
    gap: 10px;
  }
  .custom-footer .row .item .links-with-icon a img{
    width: 32px;
    height: 32px;
    aspect-ratio: 1/1;
  }
  .custom-footer .row .item ul li a{
    color: #050505;
    font-family: Karla;
    font-size: clamp(14px, 5vw,16px);
    font-style: normal;
    font-weight: 400;
  }
</style>

<section class="custom-footer-section">
<div class="custom-footer section-width container">
    <div class="row">
        <!-- Column 1 -->
        <div class="col-12 col-md-3 item item__1">
            <div class="item__1__group">
              <div class="footer-logo">
                {% if section.settings.logo != blank %}
                  <img src="{{ section.settings.logo | img_url: '200x' }}" alt="logo">
                {% endif %}
              </div>
              <div class="_text">
                <p>{{ section.settings.intro_text }}</p>
              </div>
            </div>
        </div>

        <!-- Column 2 -->
        <div class="col-12 col-md-3 item item__2">
            <div class="submenu__heading">
                <h3>{{ section.settings.quick_links_heading }}</h3>
            </div>
            <ul class="submenu__items">
              {% for block in section.blocks %}
                {% if block.type == 'quick_link' %}
                  <li><a href="{{ block.settings.link }}">{{ block.settings.text }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
        </div>

        <!-- Column 3 -->
        <div class="col-12 col-md-3 item item__3">
            <div class="submenu__heading">
                <h3>{{ section.settings.products_heading }}</h3>
            </div>
            <ul class="submenu__items">
              {% for block in section.blocks %}
                {% if block.type == 'product_link' %}
                  <li><a href="{{ block.settings.link }}">{{ block.settings.text }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
        </div>

        <!-- Column 4 -->
        {% if section.settings.show_resources %}
        <div class="col-12 col-md-3 item item__4 style-2">
            <div class="submenu__heading">
                <h3>{{ section.settings.resources_heading }}</h3>
            </div>
            <ul class="submenu__items links-with-icon">
              {% for block in section.blocks %}
                {% if block.type == 'resource' %}
                  <li>
                    <a href="{{ block.settings.link }}">
                      {% if block.settings.icon != blank %}
                        <img src="{{ block.settings.icon | img_url: '32x32' }}" alt="icon">
                      {% endif %}
                      <span class="__label">{{ block.settings.label }}</span>
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
        </div>
        {% endif %}

    </div>
</div>
</section>

{% schema %}
{
  "name": "Custom Footer",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Footer Logo"
    },
    {
      "type": "textarea",
      "id": "intro_text",
      "label": "Intro Text",
      "default": "We are conveniently located in Auburn, just opposite the Harvey Norman flagship store."
    }
    
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "settings": [
        { "type": "text", "id": "text", "label": "Link Text" },
        { "type": "link_list", "id": "link", "label": "Link URL" }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Footer",
     
    }
  ]
}
{% endschema %}
