{%- if template.suffix == 'sub_menu' -%}
  {%- assign position_sub = canonical_url | split: '?q=sub_menu_' | last | plus: 0 -%}
  {%- render 'menu_import_sub', position_sub: position_sub -%}
{%- else -%}
  <!-- header.liquid -->
  {%- style -%}
    {%- capture header_css -%}
    .header.style-14 .box-search.show-icon .kt--drop-in {
      border: 0.1rem solid #ebebeb;
    }
    .header.style-14 .box-search .search {
      border-radius: 50px;
    }
    .header.style-14 .block-info .infor, .header.style-14 .list-link {
      text-transform: uppercase;
    }
    .header.style-14 .box-search.show-icon .control .button-search {
      color: #333;
    }
    .header.style-14 .box-search.show-input .control {
      background-color: transparent;
      border: 0.1rem solid #ebebeb;
      border-radius: 5px;
      margin-bottom: 1rem;
    }
    .header.style-14 .box-search.show-input .search {
      font-style: normal;
    }
    .header.style-14 .box-search.show-input-line {
      border-bottom: thin solid #ccc;
      border-radius: 0;
      width: 270px;
    }
    .header.style-14 .box-search.show-input-line .button-search {
      font-size: 2.2rem;
    }
    .header.style-14 .box-search.show-input-line .search::placeholder {
      color: #777;
    }
    .header.style-14 .box-search.show-input-line .search::-webkit-input-placeholder {
      color: #777;
    }
    {%-endcapture-%}
    {{- header_css | strip_newlines | remove: '  ' | remove: '  ' -}}

    .content_{{section.id}}{margin-top: {{section.settings.header_margin_top | default: '0' | split: '|' | first }};margin-bottom: {{section.settings.header_margin_bottom | default: '0' | split: '|' | first }};padding: {{section.settings.header_padding | default: '0'| split: '|' | first | replace : '-',' '}};}{{--}}
    .header-top{padding: {{- section.settings.header_top_padding | default: '0' | split: '|' | first | replace : '-',' '-}};margin-top: {{- section.settings.header_top_margin_top | default: '0'| split: '|' | first -}};margin-bottom: {{- section.settings.header_top_margin_bottom | default: '0' | split: '|' | first -}};background-position: center;}{{--}}
    .header-announcement{display: none;padding: {{section.settings.announcement_padding | default: '0' | split: '|' | first | replace : '-',' '}};margin-top: {{section.settings.announcement_margin_top | default: '0'| split: '|' | first }};margin-bottom: {{section.settings.announcement_margin_bottom | default: '0' | split: '|' | first }};background-position: center;}
  {%- endstyle -%}
  {% style %}
    .nav-menu {
      background: #050505;
    }
    .nav-menu ul {
      padding: 0px;
      margin: 0px;
      display: flex;
      gap: 25px;
      justify-content: center;
      align-items: center;
    }
    .nav-menu ul li:hover {
      color: #127fb5;
      cursor:pointer;
    }
    .nav-menu ul li:hover a {
      color: #127fb5;
    }
    .nav-menu ul li {
      list-style: none;
      position: relative;
    }
    .nav-menu ul li,
    .nav-menu ul li a{
      color: #fafafa;
      font-family: Karla;
      font-size: clamp(12px, 5vw, 16px);
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 150% */
      text-transform: uppercase;
    }
    .nav-menu ul li.has-sub {
    }
    .nav-menu ul li.has-sub {
      display: flex;
      gap: 8px;
    }
    .nav-menu ul li.has-sub::after {
      transition: transform 0.3s ease;
    }
    .nav-menu ul li.has-sub.active::after {
      transform: rotate(180deg);
    }
    .nav-menu ul li.has-sub::after {
      content: '';
      width: 25px;
      height: 22px;
      display: block;
      background-image: url(https://cdn.shopify.com/s/files/1/0859/1186/3592/files/keyboard_arrow_down.svg?v=1752584493);
    }
    .special-offers-display li .__label{padding-left:10px;}
    .special-offers-display li:hover{
      border-bottom: 1px solid #DADADA;
      background: #127FB5;
      color:#FFF;
    }

  {% endstyle %}
  {{ 'mobile-header.css' | asset_url | stylesheet_tag }}
  <header
    {% if settings.use_wrap_container %}
      class="wrap-container"
    {% endif -%}
    data-section-id="{{ section.id }}"
    data-section-type="header-section"
    data-header-sticky="true"
  >
    <div
      id="header"
      class="custom-header header style-14{%if settings.use_header_mobile_search_box%} mobile-search-box{%endif%}"
    >
      <div
        class="content_{{section.id}}{%if section.settings.header_image%} bg-image lazyload{%endif%}"
        {% if section.settings.header_image %}
          data-bgset="{{section.settings.header_image | img_url: 'master'}}" data-sizes="auto" data-parent-fit="contain"
        {% endif %}
        data-respon="{'el':'.content_{{section.id}}','mt':'{{section.settings.header_margin_top}}','mb':'{{section.settings.header_margin_bottom}}','p':'{{section.settings.header_padding}}'}"
      >
        {%- assign announcements = section.blocks | where: 'type', 'announcement' | first -%}
        {%- assign top_menus = section.blocks | where: 'type', 'top_menu' | first -%}
        {%- if section.settings.use_header_announcement and announcements -%}
          {%- render 'kt_header-announcement' -%}
        {%- endif -%}
        {%- if section.settings.use_header_top and top_menus -%}
          {%- render 'kt_header-top' -%}
        {%- endif -%}
        {% comment %}
          {%- render 'header-14' -%}
        {% endcomment %}
        {%- render 'main-header', cart: cart -%}
        <div class="header-group">
          {% comment %} Nav Menu items {% endcomment %}
           
          {% render 'mobile-menu-drawer' section: section %}
          <div class="go-back-menu hidden">
            <button class="back-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#176F9A">
              <mask id="mask0_129_4330" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                <rect x="24" y="24" width="24" height="24" transform="rotate(-180 24 24)" fill="#176F9A"/>
              </mask>
              <g mask="url(#mask0_129_4330)">
                <path d="M7.373 11.25L19.5 11.25L19.5 12.75L7.373 12.75L13.0692 18.4462L12 19.5L4.5 12L12 4.5L13.0693 5.55375L7.373 11.25Z" fill="#176F9A"/>
              </g>
            </svg>
            Go back
            </button>
          </div>
          {%- render 'nav-menu', section: section -%}
          {% comment %}{%- render 'submenu' -%}{% endcomment %}    
        </div>
      </div>
    </div>
   
   
  </header>
  <div class="fixed-panel-container">
  {% render 'fixed-panel', section: section %} 
  </div>
  
{%- endif -%}

{% schema %}
{
  "name": "Header + Announcement",
  "settings": [
    {
      "type": "header",
      "content": "Announcement"
    },
    {
      "type": "textarea",
      "id": "announcement_text",
      "label": "Announcement Text"
    }
  ],
  "blocks": [
    {
      "type": "special_offers",
      "name": "Special Offers",
      "settings": [
        {
          "type": "text",
          "id": "special_item_label",
          "label": "Item Label"
        },
        {
          "type": "url",
          "id": "special_item_url",
          "label": "Item Link"
        }
      ]
    },
    {
      "type": "standard_nav_item",
      "name": "Standard Nav Item",
      "settings": [
        {
          "type": "text",
          "id": "item_label",
          "label": "Menu Item Label"
        },
        {
          "type": "url",
          "id": "item_url",
          "label": "Menu Item Link"
        }
      ]
    },
    {
      "type": "with_submenu_item",
      "name": "With Submenu Nav Item",
      "settings": [
        {
          "type": "text",
          "id": "item_label",
          "label": "Menu Item Label"
        },
        {
          "type": "url",
          "id": "item_url",
          "label": "Menu Item Link"
        },
        {
          "type": "header",
          "content": "Submenu Items"
        },
        {
          "type": "text",
          "id": "item-1-label",
          "label": "Item 1 Label"
        },
        {
          "type": "url",
          "id": "item-1-url",
          "label": "Item 1 Link"
        },
        {
          "type": "link_list",
          "id": "menu-item-1",
          "label": "Item 1 Menu"
        },
        {
          "type": "text",
          "id": "item-2-label",
          "label": "Item 2 Label"
        },
        {
          "type": "url",
          "id": "item-2-url",
          "label": "Item 2 Link"
        },
        {
          "type": "link_list",
          "id": "menu-item-2",
          "label": "Item 2 Menu"
        },
        {
          "type": "text",
          "id": "item-3-label",
          "label": "Item 3 Label"
        },
        {
          "type": "url",
          "id": "item-3-url",
          "label": "Item 3 Link"
        },
        {
          "type": "link_list",
          "id": "menu-item-3",
          "label": "Item 3 Menu"
        },
        {
          "type": "text",
          "id": "item-4-label",
          "label": "Item 4 Label"
        },
        {
          "type": "url",
          "id": "item-4-url",
          "label": "Item 4 Link"
        },
        {
          "type": "link_list",
          "id": "menu-item-4",
          "label": "Item 4 Menu"
        },
        {
          "type": "text",
          "id": "item-5-label",
          "label": "Item 5 Label"
        },
        {
          "type": "url",
          "id": "item-5-url",
          "label": "Item 5 Link"
        },
        {
          "type": "link_list",
          "id": "menu-item-5",
          "label": "Item 5 Menu"
        },
        {
          "type": "text",
          "id": "item-6-label",
          "label": "Item 6 Label"
        },
        {
          "type": "url",
          "id": "item-6-url",
          "label": "Item 6 Link"
        },
        {
          "type": "link_list",
          "id": "menu-item-6",
          "label": "Item 6 Menu"
        },
        {
          "type": "text",
          "id": "item-7-label",
          "label": "Item 7 Label"
        },
        {
          "type": "url",
          "id": "item-7-url",
          "label": "Item 7 Link"
        },
        {
          "type": "link_list",
          "id": "menu-item-7",
          "label": "Item 7 Menu"
        },
        {
          "type": "text",
          "id": "item-8-label",
          "label": "Item 8 Label"
        },
        {
          "type": "text",
          "id": "item-8-additional-label",
          "label": "Item 8 Additional Label"
        },
        {
          "type": "url",
          "id": "item-8-url",
          "label": "Item 8 Link"
        },
        {
          "type": "link_list",
          "id": "menu-item-8",
          "label": "Item 8 Menu"
        },
        {
          "type": "text",
          "id": "item-9-label",
          "label": "Item 9 Label"
        },
        {
          "type": "url",
          "id": "item-9-url",
          "label": "Item 9 Link"
        },
        {
          "type": "link_list",
          "id": "menu-item-9",
          "label": "Item 9 Menu"
        },
        {
          "type": "text",
          "id": "item-10-label",
          "label": "Item 10 Label"
        },
        {
          "type": "url",
          "id": "item-10-url",
          "label": "Item 10 Link"
        },
        {
          "type": "link_list",
          "id": "menu-item-10",
          "label": "Item 10 Menu"
        },
        {
          "type": "text",
          "id": "item-11-label",
          "label": "Item 11 Label"
        },
        {
          "type": "url",
          "id": "item-11-url",
          "label": "Item 11 Link"
        },
        {
          "type": "link_list",
          "id": "menu-item-11",
          "label": "Item 11 Menu"
        },
        {
          "type": "text",
          "id": "item-12-label",
          "label": "Item 12 Label"
        },
        {
          "type": "url",
          "id": "item-12-url",
          "label": "Item 12 Link"
        },
        {
          "type": "link_list",
          "id": "menu-item-12",
          "label": "Item 12 Menu"
        },
        {
          "type": "text",
          "id": "item-13-label",
          "label": "Item 13 Label"
        },
        {
          "type": "url",
          "id": "item-13-url",
          "label": "Item 13 Link"
        },
        {
          "type": "link_list",
          "id": "menu-item-13",
          "label": "Item 13 Menu"
        },
        {
          "type": "text",
          "id": "item-14-label",
          "label": "Item 14 Label"
        },
        {
          "type": "url",
          "id": "item-14-url",
          "label": "Item 14 Link"
        },
        {
          "type": "link_list",
          "id": "menu-item-14",
          "label": "Item 14 Menu"
        },
        {
          "type": "text",
          "id": "item-15-label",
          "label": "Item 15 Label"
        },
        {
          "type": "text",
          "id": "item-15-additional-label",
          "label": "Item 15 Additional Label"
        },
        {
          "type": "url",
          "id": "item-15-url",
          "label": "Item 15 Link"
        },
        {
          "type": "link_list",
          "id": "menu-item-15",
          "label": "Item 15 Menu"
        }
      ]
    },
    {
      "type": "parent_menu",
      "name": "Submenu Item Parent",
      "settings": [
        {
          "type": "number",
          "id": "parent_menu_id",
          "label": "Parent Submenu Label"
        },
        {
          "type": "text",
          "id": "parent_menu_label",
          "label": "Parent Submenu Label"
        },
        {
          "type": "url",
          "id": "parent_menu_item_url",
          "label": "Item Link"
        },
        {
          "type": "link_list",
          "id": "submenu",
          "label": "Submenu"
        }
      ]
    }
  ]
}
{% endschema %}

{% javascript %}
  let isActive = false;
  function LoadMenuJs() {
  let menuItems = document.querySelectorAll('.header-group .menu-items-main li');
  menuItems.forEach((item) => {
    if (item.classList.contains('has-sub') && !item.hasAttribute('data-bound')) {
      let menuClass = item.getAttribute('child-menu-id');
      let mainHeader = item.closest('.header-group');
      let submenuElement = mainHeader?.querySelector('.' + menuClass);
      if (menuClass && submenuElement) {
        item.addEventListener('click', function (e) {
         
          const navMenu = this.closest('.nav-menu');
          if(window.innerWidth < 768){
            if(navMenu){
              console.log('added hidden to');
              console.log(navMenu);
              navMenu.classList.add('hidden')
            }
          }
          // Remove active classes from all menus
          reloadMenuItemsMain(mainHeader);
          isActive = !isActive;
          console.log(isActive);
          let submenuEl = document.querySelector('.submenu');
         console.log(submenuEl);
         
          if (submenuEl && !submenuEl.classList.contains('active')) {
              submenuEl.classList.add('active');
          }
          // Activate clicked item and its submenu
          if (window.innerWidth <= 768) {
            document.querySelector('.header-bottom').classList.add('hidden');
          }
          if(isActive){
            item.classList.add('active');
            submenuElement.classList.add('active');
          }else{
            item.classList.remove('active');
            submenuElement.classList.remove('active');
          }
        });
        item.setAttribute('data-bound', 'true');
      }
    }
  });
}

function reloadMenuItemsMain(context) {
  let submenuItems = context.querySelectorAll('.submenu');
  let menuItems = context.querySelectorAll('.has-sub');

  menuItems.forEach((item) => item.classList.remove('active'));
  submenuItems.forEach((submenu) => submenu.classList.remove('active'));
}

  let stickyAdded = false;
  let ActiveClass = false;
  let ElementClonedDetected = false;
  // for sticky header
  function LoadStickyMenuJs() {
    if (document.querySelector('#header-ontop.cloned')) {
      ElementClonedDetected = true;
      let menuItems = document.querySelectorAll('.cloned .header-group .menu-items-main li');
      menuItems.forEach((item) => {
        if (item.classList.contains('has-sub')) {
          let menuClass = item.getAttribute('child-menu-id');
          let mainHeader = document.querySelector('.cloned .header-group');
          let submenuElement = mainHeader?.querySelector('.' + menuClass);
          item.addEventListener('click', function () {
            console.log('clicked cloned');
            if (ActiveClass) {
              submenuElement.classList.remove('active');
              item.classList.remove('active');
              ActiveClass = false;
            } else {
              submenuElement.classList.add('active');
              item.classList.add('active');
              ActiveClass = true;
            }
          });
        }
      });
    }
  }

  const stickyInterval = setInterval(() => {
    if (ElementClonedDetected == true) {
      clearInterval(stickyInterval);
      console.log('Sticky menu initialized and interval cleared.');
    } else {
      LoadStickyMenuJs();
    }
  }, 900);

  LoadMenuJs();

   let main_nav_items = document.querySelectorAll('.mobile-main-header .menu-items-main li');
  main_nav_items.forEach((element) => {
    element.addEventListener('click', function () {
      if (element.getAttribute('child-menu-id') != '') {
        let submenuAttribute = element.getAttribute('child-menu-id');
        document.querySelector(`.mb-header .${submenuAttribute}`).classList.add('active');
      }
    });
  });
  let toggleMenuIcons = document.querySelectorAll('.toggle-menu');
  let menuStatus = false;
  if (window.innerWidth <= 768) {
    document.querySelector('.nav-menu').classList.add('hidden');
  }
  toggleMenuIcons.forEach((el) => {
    el.addEventListener('click', function (e) {
      menuStatus = !menuStatus;
      if(menuStatus){
        document.querySelector('.close-menu').classList.remove('hidden')
        document.querySelector('.open-menu').classList.add('hidden')
        document.querySelector('.nav-menu').classList.remove('hidden')
        document.querySelector('.go-back-menu').classList.remove('hidden')
        document.querySelector('.item__1 ').classList.remove('hide-main')
        document.querySelectorAll('.item__1 ').forEach(el => el.classList.remove('hidden'))
      }else{
        console.log('close');
        isActive = false;
        console.log(isActive);
        
        // window.location.reload()
        document.querySelectorAll('.lvl-2').forEach(el => el.style.display = "none")
        document.querySelectorAll('.lvl-3').forEach(el => el.style.display = "none")
        document.querySelector('.item__1 ').classList.remove('hide-main')
        document.querySelectorAll('.has-sub').forEach(el => el.classList.remove('active'))
        document.querySelector('.submenu').classList.remove('active')
        document.querySelector('.close-menu').classList.add('hidden')
        document.querySelector('.open-menu').classList.remove('hidden')
        document.querySelector('.nav-menu').classList.add('hidden')
      }
    });
  });
  let closeMenu = document.querySelector('.close-menu');
  closeMenu.addEventListener('click',function(){
    // document.querySelector('.item__1').style.display = "none"
  })
{% endjavascript %}
