{%- if template.suffix == 'sub_menu' -%}
  {%- assign position_sub = canonical_url | split: '?q=sub_menu_' | last | plus: 0 -%}
  {%- render 'menu_import_sub', position_sub: position_sub -%}
{%- else -%}
<!-- header.liquid -->
{%- style -%}
{%- capture header_css -%}
.header.style-14 .box-search.show-icon .kt--drop-in {
  border: 0.1rem solid #ebebeb;
}
.header.style-14 .box-search .search {
  border-radius: 50px;
}
.header.style-14 .block-info .infor, .header.style-14 .list-link {
  text-transform: uppercase;
}
.header.style-14 .box-search.show-icon .control .button-search {
  color: #333;
}
.header.style-14 .box-search.show-input .control {
  background-color: transparent;
  border: 0.1rem solid #ebebeb;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.header.style-14 .box-search.show-input .search {
  font-style: normal;
}
.header.style-14 .box-search.show-input-line {
  border-bottom: thin solid #ccc;
  border-radius: 0;
  width: 270px;
}
.header.style-14 .box-search.show-input-line .button-search {
  font-size: 2.2rem;
}
.header.style-14 .box-search.show-input-line .search::placeholder {
  color: #777;
}
.header.style-14 .box-search.show-input-line .search::-webkit-input-placeholder {
  color: #777;
}
{%-endcapture-%}
{{- header_css | strip_newlines | remove: '  ' | remove: '  ' -}}

.content_{{section.id}}{margin-top: {{section.settings.header_margin_top | default: '0' | split: '|' | first }};margin-bottom: {{section.settings.header_margin_bottom | default: '0' | split: '|' | first }};padding: {{section.settings.header_padding | default: '0'| split: '|' | first | replace : '-',' '}};}{{--}}
.header-top{padding: {{- section.settings.header_top_padding | default: '0' | split: '|' | first | replace : '-',' '-}};margin-top: {{- section.settings.header_top_margin_top | default: '0'| split: '|' | first -}};margin-bottom: {{- section.settings.header_top_margin_bottom | default: '0' | split: '|' | first -}};background-position: center;}{{--}}
.header-announcement{display: none;padding: {{section.settings.announcement_padding | default: '0' | split: '|' | first | replace : '-',' '}};margin-top: {{section.settings.announcement_margin_top | default: '0'| split: '|' | first }};margin-bottom: {{section.settings.announcement_margin_bottom | default: '0' | split: '|' | first }};background-position: center;}
{%- endstyle -%}
<header {%if settings.use_wrap_container %}class="wrap-container" {%endif%}data-section-id="{{ section.id }}" data-section-type="header-section" data-header-sticky="{{section.settings.sticky_menu}}">
  <div id="header-ontop" class="header-ontop is-sticky"></div>
  <div id="header" class="custom-header header style-14{%if settings.use_header_mobile_search_box%} mobile-search-box{%endif%}">
    <div class="content_{{section.id}}{%if section.settings.header_image%} bg-image lazyload{%endif%}"{%if section.settings.header_image%} data-bgset="{{section.settings.header_image | img_url: 'master'}}" data-sizes="auto" data-parent-fit="contain"{%endif%} data-respon="{'el':'.content_{{section.id}}','mt':'{{section.settings.header_margin_top}}','mb':'{{section.settings.header_margin_bottom}}','p':'{{section.settings.header_padding}}'}">
      {%- assign announcements = section.blocks | where: "type", "announcement" | first -%}
      {%- assign top_menus = section.blocks | where: "type", "top_menu" | first -%}
      {%- if section.settings.use_header_announcement and announcements -%}
        {%- render 'kt_header-announcement' -%}
      {%- endif -%}
      {%- if section.settings.use_header_top and top_menus -%}
        {%- render 'kt_header-top' -%}
      {%- endif -%}
      {% comment %}
      {%- render 'header-14' -%}
      {% endcomment %}
      {%- render 'main-header', cart:cart -%}
      <div class="header-group">
        {%- render 'nav-menu' -%}
        {%- render 'submenu' -%}
      </div>
    </div>
  </div>
</header>
{%- endif -%}

{% schema %}
  {
  "name": "Header + Announcement",
  "settings": [
    {
      "type": "header",
      "content": "Announcement"
    },
    {
      "type": "checkbox",
      "id" :"use_header_announcement",
      "label": "Use?"
    },
    {
      "type": "checkbox",
      "id" :"sticky_header_announcement",
      "label": "Use sticky?"
    },
    {
      "type": "select",
      "id": "width_announcement",
      "label": "Max width section",
      "options": [
        { "value": "container", "label": "1200px" },
        { "value": "container-fluid wide", "label": "Wide" },
        { "value": "w-100", "label": "Full width" }
      ],
      "default": "container"
    },
    {
      "type":"checkbox",
      "id": "width_content",
      "label": "Max width content?",
      "default": true
    },
    {
      "type": "html",
      "id": "announcement_reponsive",
      "label": "## Responsive",
      "default": "{\n  \"0\": {\n    \"slidesPerView\": 1,\n    \"spaceBetween\": 0\n  },\n  \"320\": {\n    \"slidesPerView\": 1,\n    \"spaceBetween\": 0\n  },\n  \"768\": {\n    \"slidesPerView\": 1,\n    \"spaceBetween\": 0\n  },\n  \"992\": {\n    \"slidesPerView\": 1,\n    \"spaceBetween\": 0\n  },\n  \"1200\": {\n    \"slidesPerView\": 1,\n    \"spaceBetween\": 0\n  }\n}"
    },
    {
      "type": "text",
      "id": "announcement_margin_top",
      "label": "Margin top",
      "info": "2.5rem|3rem|3.5rem|4rem|4.5rem|5rem"
    },
    {
      "type": "text",
      "id": "announcement_margin_bottom",
      "label": "Margin bottom",
      "info": "2.5rem|3rem|3.5rem|4rem|4.5rem|5rem"
    },
    {
      "type": "text",
      "id": "announcement_padding",
      "label": "Paddings (top right bottom left)",
      "info": "6rem 6rem 0 6rem"
    },
    {
      "type": "image_picker",
      "id": "announcement_image",
      "label": "Background image",
      "info": "Size suggestion: 1920 x 752 pixels"
    },
    {
      "type": "checkbox",
      "id": "announcement_onm",
      "label": "Hide on mobile?",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "announcement_ont",
      "label": "Hide on tablet?",
      "default": false
    },
    {
      "type": "header",
      "content": "Header top"
    },
    {
      "type": "checkbox",
      "id" :"use_header_top",
      "label": "Use?"
    },
    {
      "type": "checkbox",
      "id" :"sticky_header_top",
      "label": "Use sticky?"
    },
    {
      "type": "select",
      "id": "width_header_top",
      "label": "Max width section",
      "options": [
        { "value": "container", "label": "1200px" },
        { "value": "container-fluid wide", "label": "Wide" },
        { "value": "w-100", "label": "Full width" }
      ],
      "default": "container"
    },
    {
      "type": "text",
      "id": "header_top_margin_top",
      "label": "Margin top",
      "info": "2.5rem|3rem|3.5rem|4rem|4.5rem|5rem"
    },
    {
      "type": "text",
      "id": "header_top_margin_bottom",
      "label": "Margin bottom",
      "info": "2.5rem|3rem|3.5rem|4rem|4.5rem|5rem"
    },
    {
      "type": "text",
      "id": "header_top_padding",
      "label": "Paddings (top right bottom left)",
      "info": "6rem 6rem 0 6rem"
    },
    {
      "type": "image_picker",
      "id": "header_top_image",
      "label": "Background image",
      "info": "Size suggestion: 1920 x 752 pixels"
    },
    {
      "type": "checkbox",
      "id": "header_top_onm",
      "label": "Hide on mobile?",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "header_top_ont",
      "label": "Hide on tablet?",
      "default": false
    },
    {
      "type": "header",
      "content": "Main header"
    },
    {
      "type": "checkbox",
      "id" :"sticky_menu",
      "label": "Use sticky?",
      "default": true
    },
    {
      "type": "select",
      "id": "width_header",
      "label": "Max width section",
      "options": [
        { "value": "container", "label": "1200px" },
        { "value": "container-fluid wide", "label": "Wide" },
        { "value": "w-100", "label": "Full width" }
      ],
      "default": "container"
    },
    {
      "type": "text",
      "id": "header_margin_top",
      "label": "Margin top",
      "info": "2.5rem|3rem|3.5rem|4rem|4.5rem|5rem"
    },
    {
      "type": "text",
      "id": "header_margin_bottom",
      "label": "Margin bottom",
      "info": "2.5rem|3rem|3.5rem|4rem|4.5rem|5rem"
    },
    {
      "type": "text",
      "id": "header_padding",
      "label": "Paddings (top right bottom left)",
      "info": "6rem 6rem 0 6rem"
    },
    {
      "type": "image_picker",
      "id": "header_image",
      "label": "Background image",
      "info": "Size suggestion: 1920 x 752 pixels"
    },
    {
      "type": "header",
      "content": "Icons control"
    },
    {
      "type": "checkbox",
      "id" :"use_account",
      "label": "Use account?",
      "default": true
    },
    {
      "type": "checkbox",
      "id" :"use_compare",
      "label": "Use compare?",
      "default": true
    },
    {
      "type": "checkbox",
      "id" :"use_wishlist",
      "label": "Use wishlist?"
    },
    {
      "type": "checkbox",
      "id" :"use_cart",
      "label": "Use cart?",
      "default": true
    },
    {
      "type": "header",
      "content": "Main Menu"
    },
    {
      "type": "range",
      "id": "padding_size",
      "min": 0,
      "max": 5.5,
      "step": 0.1,
      "unit": "rem",
      "label": "Padding item level 1",
      "default": 2
    },
    {
      "type": "header",
      "content": "Menu Basic"
    },
    {
      "type":"link_list",
      "id":"main_linklist",
      "label":"Main Link list",
      "info": "If you choose this option you will not be able to use megamenu"
    }
  ],
  "blocks": [
  
  ]
}
{% endschema %}