{{ "featured-products.css" | asset_url | stylesheet_tag }}

<section class="featured-products section-width container">
  <h1 class="__heading">FEATURED PRODUCTS</h1>
  <div class="__row">
    {% for product in section.settings.product_lists %}
      {% assign product_obj = all_products[product] %}
      {% if product %}
        <div class="item">
          <a href="{{ product.url }}">
            <img src="{{ product.featured_image | image_url: width: 400 }}" alt="{{ product.title }}" />
            <h2>{{ product.title }}</h2>
            <div class="_description">
              {{ product.description | strip_html | truncate: 200 }}
            </div>
            <p class="_price">{{ product.price | money }}</p>
            <div class="_status">
              <span class="_stock"></span><span class="_status_text">In Stock</span>
            </div>
             {% if product.variants.size > 0 %}
    <form method="post" action="/cart/add">
      <input type="hidden" name="id" value="{{ product.variants.first.id }}">
      <button type="submit" class="btn btn-primary mt-2">Add to Cart</button>
    </form>
  {% endif %}
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Featured Products",
  "settings": [
    {
      "type": "product_list",
      "id": "product_lists",
      "label": "Product Lists"
    }
  ],
  "presets": [
    {
      "name": "Featured Products"
    }
  ]
}
{% endschema %}
