{{ "featured-products.css" | asset_url | stylesheet_tag }}

<section class="featured-products section-width container">
  <h1 class="__heading">FEATURED PRODUCTS</h1>
  <div class="__row">
    {% for product in section.settings.product_lists %}
      {% assign product_obj = all_products[product] %}
      {% if product %}
        <div class="item">
          <a href="{{ product.url }}">
            <img src="{{ product.featured_image | image_url: width: 400 }}" alt="{{ product.title }}" />
            <h2>{{ product.title }}</h2>
            <div class="_description">
              {{ product.description | strip_html | truncate: 200 }}
            </div>
            <p class="_price">{{ product.price | money }}</p>
            <div class="_status">
              <span class="_stock"></span><span class="_status_text">In Stock</span>
            </div>
  {% if product_obj.available %}
    <form method="post" action="/cart/add" class="add-to-cart-form">
      {% if product_obj.variants.size > 1 %}
        <select name="id" class="form-select mb-2">
          {% for variant in product_obj.variants %}
            <option value="{{ variant.id }}">
              {{ variant.title }} {% if variant.available == false %} - Sold Out {% endif %}
            </option>
          {% endfor %}
        </select>
      {% else %}
        <input type="hidden" name="id" value="{{ product_obj.variants.first.id }}">
      {% endif %}
      <button type="submit" class="btn btn-primary">Add to Cart</button>
    </form>
  {% endif %}
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Featured Products",
  "settings": [
    {
      "type": "product_list",
      "id": "product_lists",
      "label": "Product Lists"
    }
  ],
  "presets": [
    {
      "name": "Featured Products"
    }
  ]
}
{% endschema %}
