{{ "featured-products.css" | asset_url | stylesheet_tag }}

<section class="featured-products section-width container">
  <h1 class="__heading">FEATURED PRODUCTS</h1>
  <div class="__row d-flex flex-wrap gap-3">
    {% for product in section.settings.product_lists %}
      {% assign product_obj = all_products[product] %}
      {% if product_obj %}
        <div class="item">
          <a href="{{ product_obj.url }}">
            <img src="{{ product_obj.featured_image | image_url: width: 400 }}" alt="{{ product_obj.title }}" />
            <h2>{{ product_obj.title }}</h2>
            <p>{{ product_obj.price | money }}</p>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Featured Products",
  "settings": [
    {
      "type": "product_list",
      "id": "product_lists",
      "label": "Product Lists"
    }
  ],
  "presets": [
    {
      "name": "Featured Products"
    }
  ]
}
{% endschema %}
