{{ 'featured-banner.css' | asset_url | stylesheet_tag }}

<section class="featured-banner">
  <div class="container">
    <div class="row row-1">

      <!-- Left Column -->
      <div class="item __item-1">
        <div class="__heading">
          <h2>{{ section.settings.left_title }}</h2>
        </div>
        <div class="__text">
          <p>{{ section.settings.left_text }}</p>
        </div>
        {% if section.settings.left_button_link != blank %}
        <div class="cta">
          <a href="{{ section.settings.left_button_link }}">
            <button class="bhs-primary-btn">
              {{ section.settings.left_button_label }}
            </button>
          </a>
        </div>
        {% endif %}
      </div>

      <!-- Right Column -->
      <div class="item __item-2">
        <div class="__row2">
          <div class="__item-2__group">

            <!-- Group 1 -->
            <div class="__group1">
              <div class="__heading">
                <h2 class="__title">{{ section.settings.group1_title }}</h2>
                <h2 class="_subheading">{{ section.settings.group1_subheading }}</h2>
              </div>
              <div class="__text">{{ section.settings.group1_text }}</div>
              {% if section.settings.group1_button_link != blank %}
              <div class="cta">
                <a href="{{ section.settings.group1_button_link }}">
                  <button class="bhs-primary-btn">
                    {{ section.settings.group1_button_label }}
                  </button>
                </a>
              </div>
              {% endif %}
            </div>

            <!-- Group 2 -->
            <div class="__group2">
              <div class="__group2-row">
                <!-- Block 1 -->
                <div class="group__item group__item-1">
                  <h2>{{ section.settings.group2_title_1 }}</h2>
                  <p>{{ section.settings.group2_text_1 }}</p>
                  {% if section.settings.group2_link_1 != blank %}
                  <a href="{{ section.settings.group2_link_1 }}">
                    <button class="bhs-primary-btn">
                      {{ section.settings.group2_button_1 }}
                    </button>
                  </a>
                  {% endif %}
                </div>
                <!-- Block 2 -->
                <div class="group__item group__item-2">
                  <h2>{{ section.settings.group2_title_2 }}</h2>
                  <p>{{ section.settings.group2_text_2 }}</p>
                  {% if section.settings.group2_link_2 != blank %}
                  <a href="{{ section.settings.group2_link_2 }}">
                    <button class="bhs-primary-btn">
                      {{ section.settings.group2_button_2 }}
                    </button>
                  </a>
                  {% endif %}
                </div>
              </div>
            </div>
            <!-- End Group 2 -->

          </div>
        </div>
      </div>

    </div>
  </div>
</section>

{% schema %}
{
  "name": "Featured Banner",
  "settings": [
    {
      "type": "header",
      "content": "Left Section (Be Our Partner)"
    },
    {
      "type": "text",
      "id": "left_title",
      "label": "Left Title",
      "default": "Big Discounts"
    },
    {
      "type": "text",
      "id": "left_text",
      "label": "Left Description",
      "default": "If you become one of our retailers"
    },
    {
      "type": "text",
      "id": "left_button_label",
      "label": "Left Button Label",
      "default": "BE OUR PARTNER"
    },
    {
      "type": "url",
      "id": "left_button_link",
      "label": "Left Button Link"
    },

    {
      "type": "header",
      "content": "Group 1 (Retail Weekend Sale)"
    },
    {
      "type": "text",
      "id": "group1_title",
      "label": "Group 1 Title",
      "default": "Retail Weekend Sale!"
    },
    {
      "type": "text",
      "id": "group1_subheading",
      "label": "Group 1 Subheading",
      "default": "GET UP TO 50% OFF"
    },
    {
      "type": "text",
      "id": "group1_text",
      "label": "Group 1 Description",
      "default": "Turn Your Home Goals Into Concrete Reality!"
    },
    {
      "type": "text",
      "id": "group1_button_label",
      "label": "Group 1 Button Label",
      "default": "SHOP NOW"
    },
    {
      "type": "url",
      "id": "group1_button_link",
      "label": "Group 1 Button Link"
    },

    {
      "type": "header",
      "content": "Group 2 (Two Product Callouts)"
    },
    {
      "type": "text",
      "id": "group2_title_1",
      "label": "Group 2 Title 1",
      "default": "New Roofing Accessories"
    },
    {
      "type": "text",
      "id": "group2_text_1",
      "label": "Group 2 Text 1",
      "default": "Mega Collection"
    },
    {
      "type": "text",
      "id": "group2_button_1",
      "label": "Group 2 Button 1",
      "default": "SHOW COLLECTIONS"
    },
    {
      "type": "url",
      "id": "group2_link_1",
      "label": "Group 2 Link 1"
    },
    {
      "type": "text",
      "id": "group2_title_2",
      "label": "Group 2 Title 2",
      "default": "New Roofing Accessories"
    },
    {
      "type": "text",
      "id": "group2_text_2",
      "label": "Group 2 Text 2",
      "default": "Mega Collection"
    },
    {
      "type": "text",
      "id": "group2_button_2",
      "label": "Group 2 Button 2",
      "default": "SHOW COLLECTIONS"
    },
    {
      "type": "url",
      "id": "group2_link_2",
      "label": "Group 2 Link 2"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Featured Banner"
    }
  ]
}
{% endschema %}
