{% schema %}
{
  "name": "Installers",
  "tag": "section",
  "class": "installers-section",
  "settings": [
    {
      "type": "metaobject_list",
      "metaobject_type": "installers",
      "id": "installers_list",
      "label": "Select Installers"
    }
  ],
  "presets": [
    {
      "name": "Installers",
      "category": "Metaobjects"
    }
  ]
}
{% endschema %}
{% style %}
  .installers-section .grid {
    padding:6rem 0;
  }
  .installers-section .grid{
      display:grid;
      grid-template-columns:repeat(3,1fr);
      gap:2rem;
    }
    .installers-section .grid ul{
        padding:0px;
    }
    .installers-section .grid ul li{
        list-style:none;

        display: flex;
        align-items: center;
        gap: 10px;
        padding:8px 0px;
    }
    .installers-section .grid ul li span{
        color: #050505;
        font-family: Karla;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 125% */
    }
     .installers-section .grid .item{
         border-radius: 4px;
         border: 1px solid #DADADA;
         background: #FAFAFA;
         padding: 16px;
        }
    .installers-section .grid .item .title{
        color: #000;
        font-family: Karla;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
    }
    .installers-section .grid .item .tags{
        color: #3C4043;
        font-family: Karla;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        padding: 2rem 0;
    }
    .installers-section .grid .item .specialization ul{
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 5px;
        margin-top: 10px;
    }
    .installers-section .grid .item .specialization{
        margin-top:24px;
    }
    .installers-section .grid .item .specialization ul li{
        border-radius: 8px;
        background: #EDF1F4;
        padding: 10px;
        color: #000;
        font-family: Karla;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }
    .installers-section .grid .item .request-a-quote{
        border-radius: 4px;
        border: 1px solid #127FB5;
        background: #FFF;
    }
    .installers-section .grid .item .view-details{
        border-radius: 4px;
        border: 1px solid #DADADA;
        background: #FFF;
    }
    .installers-section .grid .item .cta button:hover{
         background: #127FB5;
         color:white;
    }
    .installers-section .grid .item .cta button{
        width:100%;
    }
    .installers-section .grid .item .cta{
        margin-top:24px;
        display:grid;
        grid-template-columns:repeat(2,1fr);
        gap:10px;
    }
    .installers-section .grid .item .details img{
        width:16px;
        height:20px;
    }
    .installers-section .grid .item .details a{
         color: #3C4043;
    }
    .installers-section .grid .item .details a:hover{
        cursor:pointer;
    }
    .installer-filters{
        display: flex;
        padding: 48px 200px;
        align-items: center;
        gap: 16px;
        background: #FAFAFA;
        align-self: stretch;
    }
{% endstyle %}
<section class="installer-filters">
  <div class="container">
    <form>
      <div class="select-group">
        <select name="state">
          <option value="NSW">NSW</option>
        </select>
      </div>
    </form>
  </div>
</section>
<div class="grid grid-cols-3 container">
  {% for item in section.settings.installers_list %}
    <div class="item">
      <div class="title">{{ item.title }}</div>
      <div class="tags">
        {% for tag in item.tags.value %}
          <span class="tag">{{ tag }}</span>
          {%- unless forloop.last %}, {% endunless %}
        {% endfor %}
      </div>
      <div class="details">
        <ul>
          <li>
            <img src="https://cdn.shopify.com/s/files/1/0936/3328/2419/files/location_on.png?v=1754363429">
            <span>{{ item.address }}</span>
          </li>
          <li>
            <img src="https://cdn.shopify.com/s/files/1/0936/3328/2419/files/mail.png?v=1754363429">
            <span
              ><a href="mailto:{{ item.email }}">{{ item.email }}</a></span
            >
          </li>
          <li>
            <img src="https://cdn.shopify.com/s/files/1/0936/3328/2419/files/call.png?v=1754363436">
            <span
              ><a href="tel:{{ item.phone }}">{{ item.phone }}</a></span
            >
          </li>
        </ul>
      </div>
      <div class="specialization">
        <div class="title">Specialization</div>
        <ul>
          {% for specialization in item.specialization.value %}
            <li class="">{{ specialization }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="cta">
        <a href="{{ item.request_quote_link.value }}"><button class="request-a-quote">Request a Quote</button></a>
        <a href="/pages/installers/{{ item.title | handleize  }}"><button class="view-details">View Details</button></a>
      </div>
    </div>
  {% endfor %}
</div>
