{% style %}
  .about-section{
      padding: 48px 0px;
  }

  .about-grid {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 40px;
  }

  .about-section .quote-btn {
      display: inline-block;
      padding: 10px 15px;
      background-color: #007cba;
      color: white;
      text-decoration: none;
      border-radius: 4px;
  }
{% endstyle %}
<section class="about-section container">
  <div class="about-grid">
    <div class="main-content">
      <div class="content">
        {{ section.settings.main_content }}
      </div>
      <div class="sepcialization">
        <h1>Specialization</h1>
        <ul>
          {%- assign sepcializations = section.settings.specialization_title | replace: ' and ', ', ' -%}
          {%- assign items = sepcializations | split: ', ' -%}
          {%- for item in items -%}
            <li>{{ item }}</li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
    <div class="sidebar">
      <h3>{{ section.settings.contact_title }}</h3>
      <ul>
        <li>
          <img src="https://cdn.shopify.com/s/files/1/0936/3328/2419/files/location_on.png?v=1754363429">
          <span>{{ section.settings.contact_address }}</span>
        </li>
        <li>
          <img src="https://cdn.shopify.com/s/files/1/0936/3328/2419/files/mail.png?v=1754363429">
          <span
            ><a href="mailto:{{ section.settings.contact_email }}">{{ section.settings.contact_email }}</a></span
          >
        </li>
        <li>
          <img src="https://cdn.shopify.com/s/files/1/0936/3328/2419/files/call.png?v=1754363436">
          <span
            ><a href="tel:{{ section.settings.contact_phone }}">{{ section.settings.contact_phone }}</a></span
          >
        </li>
      </ul>
      <a href="{{ section.settings.button_link }}" class="quote-btn">{{ section.settings.button_text }}</a>
    </div>
    {% comment %}  {% endcomment %}
  </div>
  <div class="our-works">
    <div class="grid grid-item-3">
        <h1>Our Works</h1>
        <img class="item" src="https://cdn.shopify.com/s/files/1/0936/3328/2419/files/3_b70a4513-9426-496c-b072-6471cdfc3946.png?v=1754311530" alt="">
    </div>
  </div>
  <div class="our-location">
    <h1>Our location</h1>
    <iframe
      width="100%"
      height="450"
      style="border:0"
      loading="lazy"
      allowfullscreen
      style="width:100%;"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15340.326094484971!2d120.5742189!3d15.475397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3396c64c98f675ad%3A0x18f8398be914c8e1!2sBarangay%20San%20Pablo%2C%20Tarlac%20City%2C%20Tarlac%2C%20Philippines!5e0!3m2!1sen!2sph!4v1691240000000!5m2!1sen!2sph"
    >
    </iframe>
  </div>
</section>

{% schema %}
{
  "name": "About Section",
  "tag": "section",
  "class": "about-section-wrapper",
  "settings": [
    {
      "type": "richtext",
      "id": "main_content",
      "label": "Main Content"
    },
    {
      "type": "text",
      "id": "specialization_title",
      "label": "Specialization Title",
      "default": "Specialization"
    },
    {
      "type": "text",
      "id": "core_services_title",
      "label": "Core Services Title",
      "default": "Core Services"
    },
    {
      "type": "text",
      "id": "contact_title",
      "label": "Contact Us Title",
      "default": "Contact Us"
    },
    {
      "type": "text",
      "id": "contact_address",
      "label": "Contact Address",
      "default": "60–68 Hampstead Road, Auburn, NSW 2144"
    },
    {
      "type": "text",
      "id": "contact_email",
      "label": "Contact Email",
      "default": "info@bighandsbuildingsupplies.com.au"
    },
    {
      "type": "text",
      "id": "contact_phone",
      "label": "Contact Phone",
      "default": "1300 242 799"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Request a Quote"
    },
    {
        "type": "header",
        "content": "Gallery"
    },
    {
        "type": "image_picker",
        "id": "galleries",
        "label": "Gallery"
    }
  ],
  "blocks": [
    {
      "type": "specialization",
      "name": "Specialization Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "core_service",
      "name": "Core Service Item",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "max_blocks": 20,
  "presets": [
    {
      "name": "About Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}
