{{ "shop-by-cat.css" | asset_url | stylesheet_tag }}

<section class="shop-by-cat category_section section-width container">
  {% if section.settings.title != blank %}
    <h1 class="__heading">{{ section.settings.title }}</h1>
  {% endif %}

  {% if section.settings.description != blank %}
    <div class="__description">{{ section.settings.description }}</div>
  {% endif %}

  <div class="__row">
    {% assign categories = section.settings.categories %}
    {% for collection_obj in categories %}
      {% if collection_obj != blank %}
        <div class="item">
          <div class="icon__heading" icon-src="{{ collection_obj.metafields.custom.icon | image_url: width:ollection_obj.metafields.custom.icon.width }}">
            <p class="col-12">{{ collection_obj.title }}</p>
          </div>
          <div class="_box d-flex sm-grid">
            <div class="col-12 col-md-6 col-sm-12 block_content">
              <ul>
                {% for product in collection_obj.products limit: 2 %}
                  <li>{{ product.title }}</li>
                {% endfor %}
              </ul>
            </div>
            <div class="col-12 col-md-6 col-sm-12 img_content">
              {% if collection_obj.featured_image != blank %}
                <img src="{{ collection_obj.featured_image | image_url: width: collection_obj.featured_image.width }}" alt="{{ collection_obj.title }}">
              {% endif %}
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Shop By Categories",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "collection_list",
      "id": "categories",
      "label": "Select Categories"
    }
  ],
  "presets": [
    {
      "name": "Shop By Categories"
    }
  ]
}
{% endschema %}
